<div id="tracks">
  <div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-grid">
          <div class="buttons">
            <button class="mdl-button mdl-js-button mdl-button--fab mmdl-button--colored" (click)="cancel()">
              <i class="material-icons">stop</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="trackNext()">
              <i class="material-icons">skip_next</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="trackPause()">
              <i class="material-icons">{{pause ? 'play_arrow' : 'pause'}}</i>
            </button>
          </div>
          <div class="infos" *ngIf="currentTrack">
            <span>{{currentTrack.artistName}}</span>&nbsp;/&nbsp;
            <span>{{currentTrack.albumTitle}}</span>&nbsp;/&nbsp;
            <span>{{currentTrack.title}}</span>
          </div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <ul class="mdl-list mdl-list__item--three-line">
          <li *ngFor="let t of tracks; let i = index; let last = last; trackBy: trackById" [ngClass]="{active: currentTrack && (currentTrack.id == t.id)}"
            (mouseenter)="show[i]=true" (mouseleave)="show[i]=false" (click)="trackPlay(i)" class="mdl-list__item">
            <div>
              <span class="mdl-list__item-primary-content">{{t.artistName}}</span>
              <span>{{t.title}}</span>
              <span class="mdl-list__item-text-body">{{t.albumTitle}}</span>
            </div>
          </li>
        </ul>
      </main>
    </div>
  </div>
</div>
