@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.woff') format('woff')
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#dz-root {
  width: 400px;
  height: 200px;
}
